WEBHOOK_URL="Webhook URL to push alerts to"
DEFAULT_URL="Default URL to redirect to if the URL path is not found (i.e. 404 page)"
DATABASE_NAME="Name of firestore database (e.g. link-tracker)"
COLLECTION_NAME="Name of links collection inside firestore (e.g. links)"
FUNCTION_URL="Base URL used for tracked links. GCP generates a URL for the function but I recommend adding a custom domain mapping (GCP -> Cloud Run -> Domain Mappings)"
